@charset 'utf-8';
/* reset */
* {  margin:0px;  padding:0px;}
ul,ol,li {  list-style:none;}
a { text-decoration: none; outline: 0;}

/* 전체 레이아웃  */
.wrap{
    width:800px; height:400px; background:#555;
    position:absolute; top:50%; left:50%;
    margin-left:-400px;  margin-top:-200px;
}

a{
   display:block; width:380px; height:40px; background:#000;
   font-size:20px; font-family:'arial'; font-weight:bold; line-height:40px;
   color:#fff; text-align:center;
   position:absolute;
}

.btn1 {
   bottom:50%; left:50%; margin-bottom:-260px; margin-left:-400px;
}
.btn2{
    bottom:50%; right:50%; margin-bottom:-260px; margin-right:-400px;
}
.btn3 {
    top:50%; left:50%;  margin-top:-260px; margin-left:-400px;
}
.btn4 {
   top:50%; right:50%; margin-top:-260px; margin-right:-400px;
}
